@import "mocha.css";

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
}

#waybar {
  background-color: #181825;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button.active {
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#custom-vps,
#cpu,
#memory,
#backlight,
#net-bt,
#clock,
#tray {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}

#image {
  margin-left: 12px;
  margin-right: 8px;
}

#network {
  margin-right: 17px;
}

#bluetooth {
  margin-right: 13px;
}

#battery {
  margin-right: 13px;
}

#wireplumber {
  margin-right: 7px;
}


